@font-face {
  font-family: "TT Trailers Trial";
  src: url("../../assets/fonts/TT Trailers Trial Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Trailers Trial";
  src: url("../../assets/fonts/TT Trailers Trial ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Trailers Trial";
  src: url("../../assets/fonts/TT Trailers Trial Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Impact";
  src: url("../../assets/fonts/impact.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Riffic Free";
  src: url("../../assets/fonts/RifficFree-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
