.wrapper {
  padding: 36px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 152;

  @include for-mobile {
    align-self: center;
    padding: 24px 16px;
    max-width: 358px;
    border-radius: 24px;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 152;

  @include for-mobile {
    padding: 0 16px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 23px;

  @include for-mobile {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.subtitle {
  color: #9da1ff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 140% */
  text-transform: uppercase;
  margin-bottom: 16px;

  @include for-mobile {
    font-size: 16px;
  }
}

.walletAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bgWrapper {
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0.8);

  @include for-mobile {
    top: -5px;
  }
}

.walletTitle {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 25px;
  text-align: start;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 16px;

  @include for-mobile {
    font-size: 16px;
  }
}

.addressField {
  aspect-ratio: 415 / 94;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 0 22px;
  position: relative;
  margin-bottom: 24px;

  @include for-mobile {
    gap: 16px;
    padding: 0 16px;
  }

  .walletTitle {
    display: inline-block;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    overflow-x: hidden;
    text-transform: none;
    cursor: default;
    flex: 1;

    @include for-mobile {
      font-size: 16px;
      padding-left: 0;
    }
  }
}

.copyIcon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #59d0e41a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  padding: 12px;

  @include for-mobile {
    width: 28px;
    height: 28px;
    padding: 4px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.copiedText {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--blue);
  right: 0px;
  top: -64px;
  text-wrap: nowrap;
  text-transform: uppercase;
  width: auto;
  height: auto;
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  @include for-mobile {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.copyIconWrapper {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.ethIcon {
  width: 50px;
  height: 50px;

  @include for-mobile {
    width: 24px;
    height: 24px;
  }
}

.closeButton {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(85, 34, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2) rotate(5deg);
  }
}

.alertWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 415 / 172;
  position: relative;
  gap: 14px;
  padding: 0 24px;

  @include for-mobile {
    background-color: var(--violet);
    border-radius: 16px;
    padding: 24px 16px;
  }
}

.alertBgWrapper {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  transform: scaleY(1.5);
  z-index: -1;

  @include for-mobile {
    display: none;
  }
}

.alertContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;

  span {
    color: #9da1ff;
  }
}

.closeButtonStick {
  position: absolute;
  top: 4px;
  width: 3px;
  height: 32px;
  background: #fff;
  border-radius: 3px;

  &_1 {
    transform: rotate(45deg);
  }

  &_2 {
    transform: rotate(-45deg);
  }
}
